.mainpage {


  background-image: url(http://lerevecafe.com/graphics/global/background.jpg);
}

.mainpage a:link {
  color: orange;
  text-decoration: none;
}

/* visited link */
.mainpage a:visited {
  color: orange;
}

/* mouse over link */
.mainpage a:hover {
  color: white;
}

/* selected link */
.mainpage a:active {
  color: black;
}

.menucard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  max-height: auto;
  margin: auto;
  text-align: center;
  font-family: arial;
  background: grey;

}


.price {
  color: white;
  font-size: 22px;
}

.foods{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.drinks {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .menucard {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
