
body {
  font-family: Arial;
  font-size: 17px;
  padding: 8px;
}

a {
  text-decoration: none;

}

* {
  box-sizing: border-box;
}

* h2 {
  color: orange;
}

* h3 {
  color: orange;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}



label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}




.checkoutform a {

  color: orange;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background: none;
  margin: auto;
}

.checkoutform a:hover {
  background: none;
  color: #50C9CE;
}

#checkout a {
  color: orange;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background: none;
  margin: auto;
  background: #85C7F2;
  border-style: solid;
  border-color: orange;
  text-decoration: none;
}

#checkout a:hover {

  border-color: black;
}
.addmore a {
  text-decoration: none;
}
.clearcart a {
  text-decoration: none;
}

/* unvisited link */
.clearcart a:link {
  color: #4CAF50
}

/* visited link */
.clearcart a:visited {
  color: #4CAF50
}
.addmore a:link {
  color: #4CAF50
}

/* visited link */
.addmore a:visited {
  color: #4CAF50
}

#foods a:link {
  color: #119DA4
}

/* visited link */
#foods a:visited {
  color: #119DA4
}
#drinks a:link {
  color: #119DA4
}

/* visited link */
#drinks a:visited {
  color: #119DA4
}

#foods a:hover {
  color: #313638;
}


#drinks a:hover {
  color: #313638;
}



.checkoutwcard {
  display: flex;
  justify-content: flex-end;
}
.checkoutwcard a {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: orange;
  background-color: #orange;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.checkoutwcard a:hover {background-color: #3e8e41}

.checkoutwcard a:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}






hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;

}

span.price a {
  background: none;
  display: none;

}
#cartform {
width: 1000px;

justify-content: space-around;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
