
*{
  padding: 0;
  margin: minmax(30px,auto);
  font-family: Impact, Charcoal, sans-serif;
  list-style: none;

}






/* The navigation bar */
.navbar{

  overflow: auto;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  color: white;/* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: orange;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background: #85C7F2;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #85C7F2;
  color: black;
}

.spacer
{
    width: 100%;
    height: 95px;
}



img {

  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

img:hover {
transform: scale(1.5, 1.5);

}

/*------ Css for Index ------*/



/*------css for current order --------------*/
