
/*----------css login page---------------*/

.NewLogin{
  background-image: url(https://video-images.vice.com/articles/5ba254fc8bcb7b00076e3d6d/lede/1537365906089-Thai-Food-London-3.jpeg);

}

.createbody{
background-image: url(https://video-images.vice.com/articles/5ba254fc8bcb7b00076e3d6d/lede/1537365906089-Thai-Food-London-3.jpeg);
}

.loginform form {
  text-align: left;

  border:3px solid #FCAA67;
  display: inline-block;
  max-width: 600px;
  min-width: 320px;
  width: 100%;
  background: black;


}
.createform form {
  text-align: left;

  border:3px solid #FCAA67;
  display: inline-block;
  max-width: 600px;
  min-width: 320px;
  width: 100%;
  background: black;


}




.loginform input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #85C7F2;
  box-sizing: border-box;
  background: #85C7F2;
  color: #08415C;
}

.createform input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #85C7F2;
  box-sizing: border-box;
  background: #85C7F2;
  color: #08415C;
}


button {
  background-color: #119DA4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.loginheader {

  text-align: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  background-color: #85C7F2;
  background: fit-content;
  position: relative;
  border-style: solid;
  border-color: white;
  text-shadow: black;

}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:400px; bottom:200px;}
  100% {background-color:white; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left: 400px; bottom:200px;}
  100% {background-color:white; left:0px; top:0px;}
}
.createpage {

  text-align: center;
  color: White;
  background: #85C7F2;
  width: fit-content;


}

.jawn {

  display: flex;
  justify-content: center;
}



.new_user {
  color: white;
  background: black;
  margin: 80px;

}

.new_user button{
  background: #85C7F2;

}

.loginform  {
color: white;
margin: 40px;


}

.loginform button {
  background: #85C7F2;

}

.loginform a {

  float: left;
  display: block;
  color: #red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background: orange;
}

.loginform a:hover {
  background: #85C7F2;
  color: black;

}
